<launch>
  <!-- Launch file for velodyne16 VLP-16 LiDAR -->

    <arg name="imu_topic" default="/mavros/imu/data"/>
    <arg name="slam_map_frame" default="slam_map"/>
    <arg name="base_frame" default="base_link"/>
    <arg name="slam_pose_topic" default="/decco/pose"/>
    <arg name="gnss_topic" default="/mavros/global_position/global"/>

	  <arg name="use_gps" default="false"/>
    <arg name="lc_enable" default="true"/>
    <arg name="rviz" default="true" />

    <rosparam command="load" file="$(find fast_lio_lc)/config/velodyne16.yaml" />

    <!-- Parameter adjustment instructions:  -->
    <!-- point_filter_num, and filter_size_surf are filter parameters. The smaller the value, the better the front-end effect, but the slower the operation. -->
    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="point_filter_num" type="int" value="4"/>
    <param name="max_iteration" type="int" value="3" />
    <param name="scan_publish_enable" type="bool" value="1" />
	  <param name="dense_publish_enable" type="bool" value="1" />
    <param name="filter_size_surf" type="double" value="0.5" />   <!-- Filter for the current point cloud -->
    <param name="filter_size_map" type="double" value="0.2" />    <!-- Filter on the map -->
    <param name="cube_side_length" type="double" value="1000" />
    <param name="debug_mode_enable" type="bool" value="0" />
    <param name="pcd_save_enable" type="bool" value="0" />

    <!-- visualization -->
    <param name="visulize_map" value="true"/>

    <!--optimization  -->
    <param name="recontructKdTree" value="$(arg lc_enable)"/> <!-- Open update ikdtree -->
    <param name="updateState" value="$(arg lc_enable)"/>   <!-- Open update status -->
    <param name="updateFrequency" value="30"/> <!-- Each time updateFrequency point clouds are accepted, it is updated once. Not too big-->
    
    <node pkg="fast_lio_lc" type="fastlio_mapping" name="laserMapping" output="screen" respawn="true">
      <param name="imu_topic" type="string" value="$(arg imu_topic)"/>
      <param name="slam_map_frame" type="string" value="$(arg slam_map_frame)"/>
      <param name="base_frame" type="string" value="$(arg base_frame)"/>
      <param name="slam_pose_topic" type="string" value="$(arg slam_pose_topic)"/>
      <param name="frame_id" type="string" value="base_link"/>
      <param name="gnss_topic" type="string" value="$(arg gnss_topic)"/>
		  <param name="use_gps" type="bool" value="$(arg use_gps)"/>
    </node> 

    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz_fast_lio" args="-d $(find fast_lio_lc)/rviz_cfg/loam_livox.rviz" />
    </group>

</launch>