<launch>
  <!-- Launch file for velodyne16 VLP-16 LiDAR -->

    <arg name="imu_topic" default="/mavros/imu/data"/>
    <arg name="slam_map_frame" default="slam_map"/>
    <arg name="base_frame" default="base_link"/>
    <arg name="slam_pose_topic" default="/decco/pose"/>

    <arg name="rviz" default="true" />
    
    <node pkg="fast_lio_lc" exec="fast_lio_lc_node" output="screen">
      <param name="imu_topic" value="$(var imu_topic)"/>
      <param name="slam_map_frame" value="$(var slam_map_frame)"/>
      <param name="base_frame" value="$(var base_frame)"/>
      <param name="slam_pose_topic" value="$(var slam_pose_topic)"/>
      <param name="frame_id" value="base_link"/>

      <param from="$(find-pkg-share fast_lio_lc)/config/velodyne.yaml" />
    </node> 

    <!-- <group if="$(var rviz)">
      <node pkg="rviz2" exec="rviz2" name="rviz2" args="-d $(find-pkg-share fast_lio_lc)/rviz_cfg/loam_livox.rviz" />
    </group> -->

</launch>